[Desktop Entry]
Name=Better WeChat
Comment=Linux微信增强客户端
Exec=/opt/BetterWx/betterwx-linux --no-sandbox
Icon=betterwx
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=betterwx-linux
X-GNOME-SingleWindow=false
X-MultipleArgs=true